<h2>Hey there, <%= name %>!</h2>

<p>
  You've proven that you have a <strong><%= domain %></strong> account. Now let's link it to your
  Discord account. Press the link when you're ready:
</p>

<p>
  <a href="/oauth/discord">Log in with Discord</a>
</p>