<h1>Accounts linked</h1>

<p>
  You're done! You should now see a new server in your list (or, if you were already in the server,
  you should now have a new role).
</p>

<p>
  You can now close this page.
</p>