<h2>Let's link your Discord and <%= domain %> Google accounts.</h2>

<p>
  First, we need to connect your <strong><%= domain %></strong> Google account.
  Click the link below to do so:
</p>

<p>
  <a href="/oauth/google">Log in with Google</a>
</p>